
{% extends 'base.html' %}

{% block title %}poketica -- gamify your life{% endblock %}

{% block content %}
  <div id="callout"  class="callout" style="background-color:rgb(183, 143, 232);">

<form action="/makeTask">
  <p> Task Category:
    <select name="category">
      <option value="Habit">Habit</option>
      <option value="Long Term">Long Term</option>
      <option value="Short Term">Short Term</option>
      <option value="Other">Other</option>
    </select>
  </p>
  <p> Task Name: <input type ="text" name="title"> </p>
  <p>
    Task Difficulty:
    <br>  <input type="radio" name="difficulty" value="1" checked> 1<br>
    <input type="radio" name="difficulty" value="2"> 2<br>
    <input type="radio" name="difficulty" value="3"> 3
    <br>
    <input type="submit" class="button" value="Create Task">
</form>

{% set msgs = get_flashed_messages() %}
{% for each in msgs %}
<h2>{{each}}<h2>
    <br>
    {% endfor %}
    
    {% endblock %}
