<!DOCTYPE html>

<html>

  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.0/dist/css/foundation.min.css">
    {% block head %}
    <title> {% block title %} {% endblock %} TITLE </title>
    {% endblock %}
  </head>

  <body>
    {% block navbar %}
    <div style="background-color:ivory;">
      <div  style="background-color:rgb(217, 195, 244)" class="top-bar">
	<div  style="background-color:rgb(217, 195, 244)" class="top-bar-left">
	  <ul style="background-color:rgb(217, 195, 244);" class="dropdown menu">
	    <li style="color:black;">
	      <a style="color:black;"  href="/"> poketica </a>
	    </li>
	    <li>
	      <a style="color:black;" href="/info"> inventory  </a>
	    </li>
	   
	    <li><a href = "/logout" style="color:black;"> log out</a>
	    </li>
	  </ul>
	</div>
      </div>
    </div>




    {% endblock %}

    {% block content %}
    CONTENT
    {% endblock %}
  </body>

  {% block footer %}
  <br>
  &copy; copyright 2018 by Coffee Scriptors
  {% endblock %}

</html>
