
{% extends 'base.html' %}

{% block head %}<title> poketica -- gamify your life </title>{% endblock %}

{% block content %}

<img src="https://images.pokemontcg.io/g1/RC5.png" style="height:10%; width:10%;">

<p>Woke photo booth chia, unicorn celiac fingerstache taxidermy tattooed listicle cronut adaptogen master cleanse cloud bread typewriter humblebrag. Wayfarers sriracha fixie tattooed, DIY fingerstache small batch stumptown next level food truck mixtape tousled semiotics PBR&B. Distillery aesthetic plaid banh mi. Messenger bag authentic master cleanse af chicharrones, roof party quinoa.</p>

{% set msgs = get_flashed_messages() %}
{% for each in msgs %}
<h2>{{each}}<h2>
    <br>
    {% endfor %}
    {% endblock %}
    
