{% extends 'base.html' %}

{% block head %}<title> poketica -- gamify your life </title>{% endblock %}

{% block content %}

<div id="callout"  class="callout" style="background-color:rgb(183, 143, 232);">

  <!--WELCOME STATEMENT-->
  <div class="callout primary" data-closable="slide-out-right">
    <center> <h3> Welcome {{username}} </h3></center>
  </div>
  <!-- Flashed MSGS -->
{% set msgs = get_flashed_messages() %}
{% for each in msgs %}

<div data-closable class="callout alert-callout-border alert radius">
  <strong>Error</strong> - {{each}}
  <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}

  <!--ADD TASK BUTTON-->
  <a href="/addTask"> <img src="../static/plus.jpg" style="float:right; height:50px; width:50px; border-radius:80%"></a>

  <div   >
    <!--AVATAR IMAGE-->
    <img src={{avatar}} style="height:9%; width:9%; float:left;">
</div>
<p>
  You have {{gold}} gold!
</p>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
    <!--INSTRUCTIONS-->
    <div class="callout primary" data-closable="slide-out-right">
      <center><h3> How to Play </h3> </center>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="large-4 medium-4 small-4 cell">
    <div style="background-color:rgb(217, 195, 244); color:black;" class="primary callout">
      <center>
        Poketica is a pokemon version of the application Habitica. It's perfect for people who have trouble staying on task.
      </center>
    </div>
      </div>
      <div class="large-4 medium-4 small-4 cell">
    <div style="background-color:rgb(217, 195, 244); color:black;" class="primary callout">
      <center>
        Start by adding tasks to your taskbar. Rate their difficulty and indicate what kind of task it is. After completing a task, you can check it off from your taskbar. Checking off tasks will allow you to gain gold.
      </center>
    </div>
      </div>
      <div class="large-4 medium-4 small-4 cell">
    <div style="background-color:rgb(217, 195, 244); color:black;" class="primary callout">
      <center>
        You can use gold you've gained to buy more pokemon TCG cards to <b> catch them all </b>. Go to inventory to see what pokemon you've bought.
      </center>
    </div>
      </div>
    </div>

    <!--TASK BAR-->
    <div class="callout primary" data-closable="slide-out-right">
      <center><h3> Task Bar </h3> </center>

      </div>
      <table>
    <thead>
      <tr>
        <th>Tasks</th>
        <th>Difficulty</th>
        <th>Category</th>
      </tr>
    </thead>

    <tbody>
      {% for each in info %}
      <tr>
        <td>
          {{ each[0] }}
        </td>
        <td>
          {{ each[1] }}
        </td>
        <td>
          {{ each[2] }}
        </td>
      </tr>
      {% endfor %}
    </tbody>
      </table>

      <div class="callout primary" data-closable="slide-out-right">
        <center><h3> Complete Tasks</h3> </center>

        </div>
<center>
 <form action="/deleteTask">
      <select name="completion">
    {% for each in info %}
    <option value="{{each[0]}}"> {{ each[0] }} </option>
    {% endfor %}
      </select>
      <input type="image" src="/../static/delete.png" style="width:60px; height:60px" >
    </form>
    <center>


    <!--GACHA-->
    <div class="callout primary" data-closable="slide-out-right">
      <center><h3> Buy a Pokemon! </h3></center></div>





    <center>
      <a href="/gacha"> <img src="../static/pokeball.png" style="width:60px; height:60px;"> </a>
      </center>

    </div>
</div>
{% endblock %}
