
{% extends 'base.html' %}

{% block head %}<title> Home </title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.1/css/foundation-float.css">

<body style="background-color:ivory;">
  <div  style="background-color:rgb(217, 195, 244)" class="top-bar">
    <div  style="background-color:rgb(217, 195, 244)" class="top-bar-left">
      <ul style="background-color:rgb(217, 195, 244);" class="dropdown menu">
	<li style="color:black;">
	  <a style="color:black;"  href="#"> poketica </a>
	</li>
	<li>
	  <a style="color:black;" href="#info"> inventory  </a>
	</li>
	<li>
	  <a style="color:black;" href="#game"> play </a>
	</li>
	<li><a href = "/logout" style="color:black;"> log out</a>
	</li>
      </ul>
    </div>
  </div>

  <div id="callout"  class="callout" style="background-color:rgb(183, 143, 232);">
         <a href="#" class="button round" style="  float:right;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color:green;"> </a>

	
	 <img src="https://images.pokemontcg.io/g1/RC5.png" style="height:10%; width:10%;">

  <p>Woke photo booth chia, unicorn celiac fingerstache taxidermy tattooed listicle cronut adaptogen master cleanse cloud bread typewriter humblebrag. Wayfarers sriracha fixie tattooed, DIY fingerstache small batch stumptown next level food truck mixtape tousled semiotics PBR&B. Distillery aesthetic plaid banh mi. Messenger bag authentic master cleanse af chicharrones, roof party quinoa.</p>


  
    </div>

  {% endblock %}



  {% block content %}
  {% set msgs = get_flashed_messages() %}
  {% for each in msgs %}
  <h2>{{each}}<h2>
      <br>
      {% endfor %}


     



	{% endblock %}
