{% extends 'base.html' %}
<html>
  
  <head>
    {% block head %}
    <title> Pick </title>
    {% endblock %}
  </head>

  <body>
    {% block content %}

    <div id="callout"  class="callout" style="background-color:rgb(183, 143, 232);">
<div class="callout primary" data-closable="slide-out-right">
  
    <h3><center>Choose Your Starter Pokemon</center></h3>
</div>

    <form  action ="/receive" method="POST">

      <center>
	  <label><h2>
	    <input type="radio" name="type" value="grass" id="grass" required>
	    Grass</h2>
	    <img src="../static/grass.png" alt="grass" style="width:70px;height:70px;">
	  </label>
	  <br>
	  <label><h2>
	    <input type="radio" name="type" value="fire">
	    Fire</h2>
	    <img src="../static/fire.png" alt="fire" style="width:70px;height:70px;">
	  </label>
	  <br>
	  <label><h2>
	    <input type="radio" name="type" value="water">
	    Water</h2>
	    <img src="../static/water.png" alt="water" style="width:70px;height:70px;">
	  </label>
	  
	  <br>
	  <input class="button" type="submit" value="Get Pokemon">
      </center>
    </form>
    <script src="pick.js"></script>
    {% endblock %}
  </body>

</html>
